<!DOCTYPE html>
<!--
	Big Picture by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en-CA">
	<head>
		<title><%= title %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    <script type="module" src="assets/js/client.js"></script>
  </head>

  <body class=<%= current %>>
    
		<!-- Header and Nav -->
		<%- include('../partials/header'); %>	

    <!-- Gallery -->
    <section class="main style4 secondary">
      <div class="content">
        <header>
          <h2><%= title %></h2>
					<p><%= tagline %></p>
        </header>
        
      <div class="">
        <div class="gallery"></div>
      </div>

      </div>
    </section>

    <!-- Footer -->
    <%- include('../partials/footer'); %>

		<!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.poptrox.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
  
  </body>
</html>